body{
    text-align: center;
}
h1{
    font-size: 80px;
    font-family: Impact;
    margin: 50px auto;
    width: fit-content;
}

p{
    font-size: 35px;
    width: fit-content;
    margin: 25px auto 10px;

}

button{
    width: 17%;
    background-color: blue;
    padding:30px;
    margin: 25px auto 10px;
    outline: none;
    color: white;
    transition: 0.3s;
}

button:hover{
    background-color: green;
}